html {
    background-color: white;
}

body {
     font: 1.2rem;
     padding: 20px;
     width: 500px;
     background-color: #efefef;
     margin: 0 auto;
}

h1 {
    color: darkslategray;
    border-bottom: 10px dotted purple;
    font-size: 2rem;
}

h2 {
    font-style: italic;
    font-size: 1.5rem;
}

.job-title {
    color: darkslategray;
    font-weight: bold;
}

ul {
    background-color: white;
    border: 5px solid purple;
    padding: 30px;
    border-radius: 20px;
}

p {
    text-align: middle;
    justify-content: center;
    vertical-align: middle;
}

a {
    color: green;
}

a:hover,
a:focus {
    color: darkgreen;
    text-decoration: none;
}

